.app {
    max-width: 900px;
    margin: 10px auto 0;
    .flex-column {
        flex-direction: column;
    }
    .button-wrapper {
        text-align: center;
    }
    .buttons-wrapper {
        display: flex;
        margin:30px 0;
        button:last-of-type {
            margin-left: auto;
        }
    }

    .clock-wrapper {
        float:right;
    }

    & .title {
        max-width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .container-settings {
        display: flex;
        flex-direction: row;
        .setting-item {
            margin:10px 15px;
        }
    }
    .spinner-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ul-answers {
        list-style-type: none;
        padding-left: 0px;
        text-align: center;
        & li {
            display: inline-block;
            margin:5px 10px;
            padding:5px 10px;
            border: 2px solid #7d4bda;
            border-radius: 5px;
            cursor: pointer;
            &.active, &:hover {
                background-color: #7d4bda;
                color:white;
                font-weight: bold;
            }
        }
    }
}
.background-color-primary {
    background-color: #7d4bda!important;
    color:white!important;
}

.ui.modal.active {
    border: 5px solid #7d4bda;
}

.ui.modal {
    svg {
        width:100%;
        path:first-of-type{
            stroke: #5c7777;
        }
        path:nth-of-type(2) {
            stroke: #7d4bda;
        }
    }
}
.color-primary.text {
  color: #7d4bda;
  display: inline-flex;
  font-size: 15px;
  font-weight: bold;
  cursor:pointer;
}
.score-list {
    margin:30px 0;
    color: #7d4bda;
}